cloudinary==1.8.0
Flask==0.12.2
Flask-Cors==3.0.2
Flask-MySQL==1.4.0
Flask-PyMongo==0.5.1
gevent==1.2.1
gunicorn==19.6.0
image==1.5.15
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.9
MarkupSafe==0.23
matplotlib==2.0.2
numpy==1.12.1
numpydoc==0.6.0
openpyxl==2.4.7
pandas==0.20.1
Pillow==4.1.1
pymongo==3.5.1
PyMySQL==0.7.11
requests==2.9.1
scikit-image==0.13.0
scikit-learn==0.18.1
seaborn==0.7.1
six==1.10.0
Werkzeug==0.12.2